[submodule "awesome/.config/awesome/treetile"]
	path = awesome/.config/awesome/treetile
	url = http://github.com/guotsuan/treetile.git
[submodule "awesome/.config/awesome/awesome-wm-widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/.config/awesome/net_widgets"]
	path = awesome/.config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule "awesome/.config/awesome/nice"]
	path = awesome/.config/awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
	branch = awesome-4v3-stable
[submodule "awesome/smart_borders"]
	path = awesome/smart_borders
	url = https://github.com/intrntbrn/smart_borders.git
[submodule "awesome/.config/awesome/smart_borders"]
	path = awesome/.config/awesome/smart_borders
	url = https://github.com/intrntbrn/smart_borders.git
