* {
  all: unset; // Unsets everything so you can style everything from scratch
}
// Global Styles
.bar {
  background-color: #0d1b2a;
  color: #eeeeee;
  border-radius: 15px;
  margin: 0px;
  padding: 8px;
  font-family: monospace;
  font-size: 12pt;
}
// Styles on classes (see eww.yuck for more information)
.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}
.metric scale trough highlight {
  all: unset;
  background-color: #eeeeee;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.speaker-icon {
  background-size: cover;
  background-image: url('images/speaker.png');
  background-position: center;
  min-width: 20px;
  min-height: 20px;
}

.workspaces {
  margin-left: 10px;
  margin-right: 10px;
}
.workspaces button {
  min-width: 27px;
}
// Workspace button styles
.workspaces button:hover {
  color: #EEEEEE;
}

.workspace-active {
  color: #FFFFFF;
  font-weight: bold;
}

.workspace-inactive {
  color: #b0b4bc;
}

.notification-button {
  background: transparent;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s ease;
  background-image: url('images/notifications.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 15px 15px;
}

.notification-button:hover {
  background-color: rgba(211, 93, 110, 0.2);
}

.album_art {
    background-repeat: no-repeat;
	background-size: 30px;
	min-height: 30px;
	min-width: 30px;
	margin: 0px;
	border-radius: 8px;
}

.music {
	margin : 0px 0px 0px 5px;
    min-width: 350px;
}

.song {
	font-size : 12px;
	font-weight : bold;
}

.artist {
	font-size : 12px;
	font-weight : bold;
}

.musicbuttons {
	margin : 0px 0px 0px 0px;
}

.playbutton {
    background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: -1px 1px 0px 0px;
}

.trackbutton {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 24px;
	min-width: 24px;
	margin: 0px 0px 0px 1px;
}
